In [1]:
import pandas as pd

df_train = pd.read_csv("../data/titanic/train.csv")
df_test = pd.read_csv("../data/titanic/test.csv")
df_train[["Age"]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Age     714 non-null    float64
dtypes: float64(1)
memory usage: 7.1 KB

In [2]:
df_test[["Age"]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Age     332 non-null    float64
dtypes: float64(1)
memory usage: 3.4 KB

In [3]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy="median")
imputer.fit(df_train[["Age"]])
df_train[["ImputedAge"]] = imputer.transform(df_train[["Age"]])
df_test[["ImputedAge"]] = imputer.transform(df_test[["Age"]])

df_train[["Age", "ImputedAge"]].tail(3)

      Age  ImputedAge
888   NaN        28.0
889  26.0        26.0
890  32.0        32.0

In [4]:
df_test[["Age", "ImputedAge"]].tail(3)

      Age  ImputedAge
415  38.5        38.5
416   NaN        28.0
417   NaN        28.0